<aside id="left-panel">

    <!-- User info -->
    <sa-login-info></sa-login-info>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul saSmartMenu>

            <!--<li routerLinkActive="active">
                <a routerLink="/home" title="Home">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Home' | i18n}}</span></a>
            </li>-->
            <li routerLinkActive="active">
                <a routerLink="/servicelist" title="Service List">
                    <i class="fa fa-lg fa-fw fa-signal"></i> <span
                        class="menu-item-parent">{{'Service List' | i18n}}</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-gears"></i> <span
                        class="menu-item-parent">{{'Orchestration' | i18n}}</span></a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/orchestration/evpn">{{'EVPN' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/orchestration/l2vpn">{{'L2VPN' | i18n}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/orchestration/l3vpn">{{'L3VPN' | i18n}}</a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/opennti" title="Analytics">
                    <i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span
                        class="menu-item-parent">{{'Analytics' | i18n}}</span></a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/topology" title="Live Topology">
                    <i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">{{'Live Topology' | i18n}}</span></a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/orchestration/cli">
                    <i class="fa fa-lg fa-fw fa-rebel"></i>
                    <span class="menu-item-parent">
                    {{'Troubleshooting' | i18n}}
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <sa-minify-menu></sa-minify-menu>

</aside>
